.home_page {
    background: black;
    color: white;
    font-size: large;

    :global {
        .ant-btn-text {
            color: white;
            padding-left: 0;
            font-weight: bold;
        }
    }

    .slogan {
        word-spacing: 100vw;
        text-align: end;
        font-size: 11vw;
        font-weight: bold;
        text-align: end;
        line-height: normal;
        line-height: 0.95;

        p {
            margin: 0;
        }
    }

    .download_buttons {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        div:first-child {
            font-weight: bold;
            margin-bottom: 10px;
        }

        a {
            color: white;
        }

        > :not(:first-child) {
            font-weight: normal;
            border-bottom: 1px solid gray;
            width: fit-content;
            cursor: pointer;
        }
    }

    > .content_unit {
        text-align: left;
        margin-bottom: 20px;
        max-width: 45%;
        margin-right: auto;
        margin-left: 20px;

        div:nth-of-type(1) {
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        div:nth-of-type(2n) {
            margin-top: 10px;
            font-weight: bold;
        }

        a {
            border-bottom: 1px solid gray;
            color: white;
        }
    }

    .fullscreen {
        caret-color: transparent;
        display: flex;
        margin-bottom: 100px;

        height: 100vh;
        overflow: auto;

        .quickstart {
            div:nth-of-type(1) {
                font-weight: bold;
            }
        }

        .menu {
            :global {
                .ant-btn-lg {
                    height: 30px;
                    text-decoration: underline;
                }
            }
        }

        .split {
            height: 100vh;
            width: 50%;
            overflow: hidden;
            padding-top: 20px;
            bottom: 0;
        }

        .left {
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            margin-left: 10px;

            > button {
                width: fit-content;
                margin-top: 10px;
            }

            .logo {
                max-height: 7%;
                object-fit: contain;
                align-self: end;
                margin-top: 10px;
            }

            div:last-child {
                display: flex;
                flex-direction: column;
                align-items: baseline;
            }
        }

        .right {
            right: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            margin-right: 10px;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            button {
                margin: 1%;
            }
        }
    }
}
